<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mirrentools.orion.mapper.ProjectMapper">
	<!-- 实体类的返回map-->
	<resultMap id="result_entity_map" type="org.mirrentools.orion.entity.Project">
		<id column="oam_key" property="key" />
		<result column="oam_name" property="name" />
		<result column="oam_versions" property="versions" />
		<result column="oam_description" property="description" />
		<result column="oam_servers" property="servers" />
		<result column="oam_external_docs" property="externalDocs" />
		<result column="oam_contact_name" property="contactName" />
		<result column="oam_contact_info" property="contactInfo" />
		<result column="oam_extensions" property="extensions" />
		<result column="oam_owner" property="owner" />
		<result column="oam_owners" property="owners" />
		<result column="oam_last_time" property="lastTime" />
		<result column="oam_sorts" property="sorts" />
	</resultMap>
	<!-- assist是 SQL查询帮助类添加条件, ${req.condition}表示列名或前缀,#{req.value}表示值它是防SQL注入的 -->
	<sql id="assist">
		<where>
			<foreach collection="condition" item="req" separator=" ">
				${req.condition}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>
	<!-- having_assist用于添加having后面的条件,与assist的SQL块一样作用 -->
	<sql id="having_assist">
		<foreach collection="having" item="req" separator=" ">
			${req.condition}
			<if test="req.value != null">
				#{req.value}
			</if>
			<if test="req.values != null">
				<foreach collection="req.values" item="value" separator=",">
					#{value}
				</foreach>
			</if>
			<if test="req.suffix != null"> ${req.suffix}</if>
		</foreach>
	</sql>

	<!-- update_assist用于更新数据查询辅助工具类,与assist的SQL块一样作用 -->
	<sql id="update_assist">
		<where>
			<foreach collection="condition" item="req" separator=" ">
				${req.condition}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- 数据库中表的列名 -->
	<sql id="table_column">
		oam_key,oam_name,oam_versions,oam_description,oam_servers,oam_external_docs,oam_contact_name,oam_contact_info,oam_extensions,oam_owner,oam_owners,oam_last_time,oam_sorts
	</sql>

	<!--获取数据总行数 -->
	<select id="getCount" parameterType="org.mirrentools.orion.common.SqlAssist" resultType="java.lang.Long">
		select count(*) from oam_project
		<if test="condition != null">
			<include refid="assist" />
		</if>
		<if test="groupBy != null ">${groupBy}</if>
		<if test="having != null ">
			<include refid="having_assist" />
		</if>
	</select>

	<!-- 获取所有数据 -->
	<select id="selectAll" parameterType="org.mirrentools.orion.common.SqlAssist" resultMap="result_entity_map">
		select
		<if test="distinct != null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				<include refid="table_column" />
			</otherwise>
		</choose>
		from oam_project
		<if test="condition != null ">
			<include refid="assist" />
		</if>
		<if test="groupBy != null ">${groupBy}</if>
		<if test="having != null ">
			<include refid="having_assist" />
		</if>
		<if test="orderBy != null ">${orderBy}</if>
		<choose>
			<when test="startRow != null  and rowSize != null ">LIMIT #{startRow},#{rowSize} </when>
			<when test="rowSize != null ">LIMIT #{rowSize}</when>
		</choose>
	</select>

	<!-- 通过对象中不为空的属性为条件获取数据,只返回一条结果 -->
	<select id="selectSingleByObj" parameterType="org.mirrentools.orion.entity.Project" resultMap="result_entity_map">
		select
		<include refid="table_column" />
		from oam_project
		<where>
			<if test="name != null"> and oam_name = #{name}</if>
			<if test="versions != null"> and oam_versions = #{versions}</if>
			<if test="description != null"> and oam_description = #{description}</if>
			<if test="servers != null"> and oam_servers = #{servers}</if>
			<if test="externalDocs != null"> and oam_external_docs = #{externalDocs}</if>
			<if test="contactName != null"> and oam_contact_name = #{contactName}</if>
			<if test="contactInfo != null"> and oam_contact_info = #{contactInfo}</if>
			<if test="extensions != null"> and oam_extensions = #{extensions}</if>
			<if test="owner != null"> and oam_owner = #{owner}</if>
			<if test="owners != null"> and oam_owners = #{owners}</if>
			<if test="lastTime != null"> and oam_last_time = #{lastTime}</if>
			<if test="sorts != null"> and oam_sorts = #{sorts}</if>
			<if test="key != null"> and oam_key = #{key}</if>
		</where>
		LIMIT 1
	</select>

	<!-- 通过对象中不为空的属性作为条件获取数据 -->
	<select id="selectByObj" parameterType="org.mirrentools.orion.entity.Project" resultMap="result_entity_map">
		select
		<include refid="table_column" />
		from oam_project
		<where>
			<if test="name != null"> and oam_name = #{name}</if>
			<if test="versions != null"> and oam_versions = #{versions}</if>
			<if test="description != null"> and oam_description = #{description}</if>
			<if test="servers != null"> and oam_servers = #{servers}</if>
			<if test="externalDocs != null"> and oam_external_docs = #{externalDocs}</if>
			<if test="contactName != null"> and oam_contact_name = #{contactName}</if>
			<if test="contactInfo != null"> and oam_contact_info = #{contactInfo}</if>
			<if test="extensions != null"> and oam_extensions = #{extensions}</if>
			<if test="owner != null"> and oam_owner = #{owner}</if>
			<if test="owners != null"> and oam_owners = #{owners}</if>
			<if test="lastTime != null"> and oam_last_time = #{lastTime}</if>
			<if test="sorts != null"> and oam_sorts = #{sorts}</if>
			<if test="key != null"> and oam_key = #{key}</if>
		</where>
	</select>

	<!-- 插入一个对象包括属性值为null的值 -->
	<insert id="insertAll" parameterType="org.mirrentools.orion.entity.Project">
		insert into
		oam_project
		(oam_key,oam_name,oam_versions,oam_description,oam_servers,oam_external_docs,oam_contact_name,oam_contact_info,oam_extensions,oam_owner,oam_owners,oam_last_time,oam_sorts)
		values(#{key},#{name},#{versions},#{description},#{servers},#{externalDocs},#{contactName},#{contactInfo},#{extensions},#{owner},#{owners},#{lastTime},#{sorts})
	</insert>

	<!-- 插入一个对象,只插入对象中值不为null的属性 -->
	<insert id="insertNotNull" parameterType="org.mirrentools.orion.entity.Project">
		insert into oam_project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="key != null">oam_key,</if>
			<if test="name != null">oam_name,</if>
			<if test="versions != null">oam_versions,</if>
			<if test="description != null">oam_description,</if>
			<if test="servers != null">oam_servers,</if>
			<if test="externalDocs != null">oam_external_docs,</if>
			<if test="contactName != null">oam_contact_name,</if>
			<if test="contactInfo != null">oam_contact_info,</if>
			<if test="extensions != null">oam_extensions,</if>
			<if test="owner != null">oam_owner,</if>
			<if test="owners != null">oam_owners,</if>
			<if test="lastTime != null">oam_last_time,</if>
			<if test="sorts != null">oam_sorts,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="key != null">#{key},</if>
			<if test="name != null">#{name},</if>
			<if test="versions != null">#{versions},</if>
			<if test="description != null">#{description},</if>
			<if test="servers != null">#{servers},</if>
			<if test="externalDocs != null">#{externalDocs},</if>
			<if test="contactName != null">#{contactName},</if>
			<if test="contactInfo != null">#{contactInfo},</if>
			<if test="extensions != null">#{extensions},</if>
			<if test="owner != null">#{owner},</if>
			<if test="owners != null">#{owners},</if>
			<if test="lastTime != null">#{lastTime},</if>
			<if test="sorts != null">#{sorts},</if>
		</trim>
	</insert>

	<!-- 批量添加全部所有字段 -->
	<insert id="insertBatch" parameterType="ArrayList">
		insert into
		oam_project
		(oam_key,oam_name,oam_versions,oam_description,oam_servers,oam_external_docs,oam_contact_name,oam_contact_info,oam_extensions,oam_owner,oam_owners,oam_last_time,oam_sorts)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.key},#{item.name},#{item.versions},#{item.description},#{item.servers},#{item.externalDocs},#{item.contactName},#{item.contactInfo},#{item.extensions},#{item.owner},#{item.owners},#{item.lastTime},#{item.sorts})
		</foreach>
	</insert>

	<!-- 插入一个对象,如果该对象不存在就新建如果该对象已经存在就更新 -->
	<insert id="replace" parameterType="org.mirrentools.orion.entity.Project">
		replace into
		oam_project
		(oam_key,oam_name,oam_versions,oam_description,oam_servers,oam_external_docs,oam_contact_name,oam_contact_info,oam_extensions,oam_owner,oam_owners,oam_last_time,oam_sorts)
		values(#{key},#{name},#{versions},#{description},#{servers},#{externalDocs},#{contactName},#{contactInfo},#{extensions},#{owner},#{owners},#{lastTime},#{sorts})
	</insert>

	<!-- 通过查询帮助类删除数据 -->
	<delete id="deleteByAssist" parameterType="org.mirrentools.orion.common.SqlAssist">
		delete from
		oam_project
		<if test="distinct != null">
			<include refid="assist" />
		</if>
	</delete>

	<!-- 更新一个对象中所有的属性包括null值,条件为SqlAssist查询帮助类 ,data=对象,assist=查询帮助类 -->
	<update id="updateAllByAssist" parameterType="map">
		update oam_project
		<set>
			oam_key = #{key},
			oam_name = #{name},
			oam_versions = #{versions},
			oam_description = #{description},
			oam_servers = #{servers},
			oam_external_docs = #{externalDocs},
			oam_contact_name = #{contactName},
			oam_contact_info = #{contactInfo},
			oam_extensions = #{extensions},
			oam_owner = #{owner},
			oam_owners = #{owners},
			oam_last_time = #{lastTime},
			oam_sorts = #{sorts}
		</set>
		<if test="assist !=null">
			<if test="assist.condition != null">
				<include refid="update_assist" />
			</if>
		</if>
	</update>

	<!--更新一个对象中属性不为null值,条件为SqlAssist查询帮助类,data=对象,assist=查询帮助类 -->
	<update id="updateNotNullByAssist" parameterType="map">
		update oam_project
		<set>
			<if test="data.key != null">oam_key = #{key},</if>
			<if test="data.name != null">oam_name = #{name},</if>
			<if test="data.versions != null">oam_versions = #{versions},</if>
			<if test="data.description != null">oam_description = #{description},</if>
			<if test="data.servers != null">oam_servers = #{servers},</if>
			<if test="data.externalDocs != null">oam_external_docs = #{externalDocs},</if>
			<if test="data.contactName != null">oam_contact_name = #{contactName},</if>
			<if test="data.contactInfo != null">oam_contact_info = #{contactInfo},</if>
			<if test="data.extensions != null">oam_extensions = #{extensions},</if>
			<if test="data.owner != null">oam_owner = #{owner},</if>
			<if test="data.owners != null">oam_owners = #{owners},</if>
			<if test="data.lastTime != null">oam_last_time = #{lastTime},</if>
			<if test="data.sorts != null">oam_sorts = #{sorts}</if>
		</set>
		<if test="assist !=null">
			<if test="assist.condition != null">
				<include refid="update_assist" />
			</if>
		</if>
	</update>
	<!-- 通过id获取数据 -->
	<select id="selectById" parameterType="String" resultMap="result_entity_map">
		select
		<include refid="table_column" />
		from oam_project
		where oam_key = #{id}
	</select>
	
	<!-- 通过id删除数据 -->
	<delete id="deleteById" parameterType="String">
		delete from oam_project
		where oam_key = #{id}
	</delete>
	
	<!-- 更新一个对象中所有的属性包括null值,条件为对象中的id -->
	<update id="updateAllById" parameterType="org.mirrentools.orion.entity.Project">
		update oam_project set
		<set>
			oam_name = #{name},
			oam_versions = #{versions},
			oam_description = #{description},
			oam_servers = #{servers},
			oam_external_docs = #{externalDocs},
			oam_contact_name = #{contactName},
			oam_contact_info = #{contactInfo},
			oam_extensions = #{extensions},
			oam_owner = #{owner},
			oam_owners = #{owners},
			oam_last_time = #{lastTime},
			oam_sorts = #{sorts}
		</set>
		where oam_key = #{key}
	</update>

	<!-- 更新一个对象中属性不为null值,条件为对象中的id -->
	<update id="updateNotNullById" parameterType="org.mirrentools.orion.entity.Project">
		update oam_project
		<set>
			<if test="name != null">oam_name = #{name},</if>
			<if test="versions != null">oam_versions = #{versions},</if>
			<if test="description != null">oam_description = #{description},</if>
			<if test="servers != null">oam_servers = #{servers},</if>
			<if test="externalDocs != null">oam_external_docs = #{externalDocs},</if>
			<if test="contactName != null">oam_contact_name = #{contactName},</if>
			<if test="contactInfo != null">oam_contact_info = #{contactInfo},</if>
			<if test="extensions != null">oam_extensions = #{extensions},</if>
			<if test="owner != null">oam_owner = #{owner},</if>
			<if test="owners != null">oam_owners = #{owners},</if>
			<if test="lastTime != null">oam_last_time = #{lastTime},</if>
			<if test="sorts != null">oam_sorts = #{sorts}</if>
		</set>
		where oam_key = #{key}
	</update>
</mapper>