<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mirrentools.orion.mapper.TagsMapper">
	<!-- 实体类的返回map-->
	<resultMap id="result_entity_map" type="org.mirrentools.orion.entity.Tags">
		<id column="oam_tid" property="tid" />
		<result column="oam_tname" property="tname" />
		<result column="oam_sorts" property="sorts" />
		<result column="oam_ctime" property="ctime" />
	</resultMap>
	<!-- assist是 SQL查询帮助类添加条件, ${req.condition}表示列名或前缀,#{req.value}表示值它是防SQL注入的 -->
	<sql id="assist">
		<where>
			<foreach collection="condition" item="req" separator=" ">
				${req.condition}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>
	<!-- having_assist用于添加having后面的条件,与assist的SQL块一样作用 -->
	<sql id="having_assist">
		<foreach collection="having" item="req" separator=" ">
			${req.condition}
			<if test="req.value != null">
				#{req.value}
			</if>
			<if test="req.values != null">
				<foreach collection="req.values" item="value" separator=",">
					#{value}
				</foreach>
			</if>
			<if test="req.suffix != null"> ${req.suffix}</if>
		</foreach>
	</sql>

	<!-- update_assist用于更新数据查询辅助工具类,与assist的SQL块一样作用 -->
	<sql id="update_assist">
		<where>
			<foreach collection="condition" item="req" separator=" ">
				${req.condition}
				<if test="req.value != null">
					#{req.value}
				</if>
				<if test="req.values != null">
					<foreach collection="req.values" item="value" separator=",">
						#{value}
					</foreach>
				</if>
				<if test="req.suffix != null"> ${req.suffix}</if>
			</foreach>
		</where>
	</sql>

	<!-- 数据库中表的列名 -->
	<sql id="table_column">
		oam_tid,oam_tname,oam_sorts,oam_ctime
	</sql>

	<!--获取数据总行数 -->
	<select id="getCount" parameterType="org.mirrentools.orion.common.SqlAssist" resultType="java.lang.Long">
		select count(*) from oam_tags
		<if test="condition != null">
			<include refid="assist" />
		</if>
		<if test="groupBy != null ">${groupBy}</if>
		<if test="having != null ">
			<include refid="having_assist" />
		</if>
	</select>

	<!-- 获取所有数据 -->
	<select id="selectAll" parameterType="org.mirrentools.orion.common.SqlAssist" resultMap="result_entity_map">
		select
		<if test="distinct != null">${distinct}</if>
		<choose>
			<when test="resultColumn!=null">${resultColumn}</when>
			<otherwise>
				<include refid="table_column" />
			</otherwise>
		</choose>
		from oam_tags
		<if test="condition != null ">
			<include refid="assist" />
		</if>
		<if test="groupBy != null ">${groupBy}</if>
		<if test="having != null ">
			<include refid="having_assist" />
		</if>
		<if test="orderBy != null ">${orderBy}</if>
		<choose>
			<when test="startRow != null  and rowSize != null ">LIMIT #{startRow},#{rowSize} </when>
			<when test="rowSize != null ">LIMIT #{rowSize}</when>
		</choose>
	</select>

	<!-- 通过对象中不为空的属性为条件获取数据,只返回一条结果 -->
	<select id="selectSingleByObj" parameterType="org.mirrentools.orion.entity.Tags" resultMap="result_entity_map">
		select
		<include refid="table_column" />
		from oam_tags
		<where>
			<if test="tname != null"> and oam_tname = #{tname}</if>
			<if test="sorts != null"> and oam_sorts = #{sorts}</if>
			<if test="ctime != null"> and oam_ctime = #{ctime}</if>
			<if test="tid != null"> and oam_tid = #{tid}</if>
		</where>
		LIMIT 1
	</select>

	<!-- 通过对象中不为空的属性作为条件获取数据 -->
	<select id="selectByObj" parameterType="org.mirrentools.orion.entity.Tags" resultMap="result_entity_map">
		select
		<include refid="table_column" />
		from oam_tags
		<where>
			<if test="tname != null"> and oam_tname = #{tname}</if>
			<if test="sorts != null"> and oam_sorts = #{sorts}</if>
			<if test="ctime != null"> and oam_ctime = #{ctime}</if>
			<if test="tid != null"> and oam_tid = #{tid}</if>
		</where>
	</select>

	<!-- 插入一个对象包括属性值为null的值 -->
	<insert id="insertAll" parameterType="org.mirrentools.orion.entity.Tags">
		insert into
		oam_tags
		(oam_tid,oam_tname,oam_sorts,oam_ctime)
		values(#{tid},#{tname},#{sorts},#{ctime})
	</insert>

	<!-- 插入一个对象,只插入对象中值不为null的属性 -->
	<insert id="insertNotNull" parameterType="org.mirrentools.orion.entity.Tags">
		insert into oam_tags
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tid != null">oam_tid,</if>
			<if test="tname != null">oam_tname,</if>
			<if test="sorts != null">oam_sorts,</if>
			<if test="ctime != null">oam_ctime,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tid != null">#{tid},</if>
			<if test="tname != null">#{tname},</if>
			<if test="sorts != null">#{sorts},</if>
			<if test="ctime != null">#{ctime},</if>
		</trim>
	</insert>

	<!-- 批量添加全部所有字段 -->
	<insert id="insertBatch" parameterType="ArrayList">
		insert into
		oam_tags
		(oam_tid,oam_tname,oam_sorts,oam_ctime)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.tid},#{item.tname},#{item.sorts},#{item.ctime})
		</foreach>
	</insert>

	<!-- 插入一个对象,如果该对象不存在就新建如果该对象已经存在就更新 -->
	<insert id="replace" parameterType="org.mirrentools.orion.entity.Tags">
		replace into
		oam_tags
		(oam_tid,oam_tname,oam_sorts,oam_ctime)
		values(#{tid},#{tname},#{sorts},#{ctime})
	</insert>

	<!-- 通过查询帮助类删除数据 -->
	<delete id="deleteByAssist" parameterType="org.mirrentools.orion.common.SqlAssist">
		delete from
		oam_tags
		<if test="distinct != null">
			<include refid="assist" />
		</if>
	</delete>

	<!-- 更新一个对象中所有的属性包括null值,条件为SqlAssist查询帮助类 ,data=对象,assist=查询帮助类 -->
	<update id="updateAllByAssist" parameterType="map">
		update oam_tags
		<set>
			oam_tid = #{tid},
			oam_tname = #{tname},
			oam_sorts = #{sorts},
			oam_ctime = #{ctime}
		</set>
		<if test="assist !=null">
			<if test="assist.condition != null">
				<include refid="update_assist" />
			</if>
		</if>
	</update>

	<!--更新一个对象中属性不为null值,条件为SqlAssist查询帮助类,data=对象,assist=查询帮助类 -->
	<update id="updateNotNullByAssist" parameterType="map">
		update oam_tags
		<set>
			<if test="data.tid != null">oam_tid = #{tid},</if>
			<if test="data.tname != null">oam_tname = #{tname},</if>
			<if test="data.sorts != null">oam_sorts = #{sorts},</if>
			<if test="data.ctime != null">oam_ctime = #{ctime}</if>
		</set>
		<if test="assist !=null">
			<if test="assist.condition != null">
				<include refid="update_assist" />
			</if>
		</if>
	</update>
	<!-- 通过id获取数据 -->
	<select id="selectById" parameterType="String" resultMap="result_entity_map">
		select
		<include refid="table_column" />
		from oam_tags
		where oam_tid = #{id}
	</select>
	
	<!-- 通过id删除数据 -->
	<delete id="deleteById" parameterType="String">
		delete from oam_tags
		where oam_tid = #{id}
	</delete>
	
	<!-- 更新一个对象中所有的属性包括null值,条件为对象中的id -->
	<update id="updateAllById" parameterType="org.mirrentools.orion.entity.Tags">
		update oam_tags 
		<set>
			oam_tname = #{tname},
			oam_sorts = #{sorts},
			oam_ctime = #{ctime}
		</set>
		where oam_tid = #{tid}
	</update>

	<!-- 更新一个对象中属性不为null值,条件为对象中的id -->
	<update id="updateNotNullById" parameterType="org.mirrentools.orion.entity.Tags">
		update oam_tags
		<set>
			<if test="tname != null">oam_tname = #{tname},</if>
			<if test="sorts != null">oam_sorts = #{sorts},</if>
			<if test="ctime != null">oam_ctime = #{ctime}</if>
		</set>
		where oam_tid = #{tid}
	</update>
</mapper>